ai-agent-workflow.json
{
  "name": "autonomous-ai-agent-n8n",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "d7256647-94fe-4ec0-9485-6e9928bf5c2e",
      "name": "When chat message received",
      "webhookId": "ad4e990b-ce20-47e9-92db-adc6f2a06039"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "4cebf96d-5eee-4293-b4c3-399fe15a928f",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        160,
        464
      ],
      "id": "5ed6b031-185f-48c6-9c08-8dcbbe05cc7d",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        400,
        480
      ],
      "id": "11b722bb-93b0-4af2-9148-306ea560bae1",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output.trim() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        512,
        -16
      ],
      "id": "e9c8c9e8-aa82-470d-960e-a9d929a2d6a7",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -160,
        336
      ],
      "id": "a7dc17ea-a5af-4637-a65a-898bf1b6f4a2",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        560,
        304
      ],
      "id": "9717055d-4825-4322-a121-4207db7229b5",
      "name": "HTTP Request",
      "notes": "Use this tool to fetch and read the HTML or text content of any URL or website provided by the user"
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to get the current weather dynamic information for a specific city. The input must be the city name in English",
        "url": "=https://api.openweathermap.org/data/2.5/weather?q={{ $fromAI('city_name', 'The name of the city to get weather for, in English') }}&appid=eee11df5a976c2b532e8c74b205f152c&units=metric",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        784,
        208
      ],
      "id": "8a79cd5d-a41b-4068-a890-ca3c831914e1",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "92b65416-d903-4f65-86fa-61e444525fc1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eaaadd20672f44ddaebc8236d20d38a5a7b7b53a9174e1917511f6ffc52bf475"
  },
  "nodeGroups": [],
  "id": "RDNnRpJyDLAtPovh",
  "tags": []
}
